body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(255, 0, 150, 0.7), rgba(0, 123, 255, 0.7));
    color: #fff;
}

.container {
    width: 100%;
    max-width: 400px;
}

.login-logo {
    max-width: 100px; 
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}

    .card:hover {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    }

.card-header {
    background-color: #2980b9;
    color: #fff;
    text-align: center;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 20px;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
}
.btn {
    background-color: #007bff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

    .btn:hover {
        background-color: #0056b3;
    }

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
