<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PixelPlay</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PixelPlay.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="https://th.bing.com/th/id/OIG.2h13.ZkFImqOH6bL_jmq?w=1024&h=1024&rs=1&pid=ImgDetMain" />

    <style>
        .footer {
            background-color: #222;
            color: #888;
            padding: 20px 0;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

            .footer a {
                color: #3498db;
                text-decoration: none;
            }

                .footer a:hover {
                    color: #2980b9;
                }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - PixelPlay - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
