
<link rel="stylesheet" href="~/css/index.css" />

<div class="navbar">
    <div class="logo">
        <img src="https://th.bing.com/th/id/OIG.2h13.ZkFImqOH6bL_jmq?w=1024&h=1024&rs=1&pid=ImgDetMain" alt="Logo" class="logo-img" />
    </div>
    <div class="nav-item"><a href="#">Inicio</a></div>
    <div class="nav-item"><a href="#">Salir</a></div>
</div>